<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Weather</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">

  <!-- Next Steps -->
  <h2>Weather</h2>
  <p>Select one</p>

  <input type="hidden" #selection>

  <span class="card-container">
    <button class="card card-small" (click)="selection.value = 'city'" tabindex="0">
      <span>City</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'zip'" tabindex="0">
      <span>Zip Code</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'geo'" tabindex="0">
      <span>Geo Location</span>
    </button>
  </span>

  <!-- How to select location for weather info -->
  <div class="card-container" [ngSwitch]="selection.value">
      <pre *ngSwitchDefault><app-location-city (geoEvent)="onGeoChange($event)"></app-location-city></pre>
      <pre *ngSwitchCase="'zip'"><app-location-zip (geoEvent)="onGeoChange($event)"></app-location-zip></pre>
      <pre *ngSwitchCase="'geo'"><app-location-geo (geoEvent)="onGeoChange($event)"></app-location-geo></pre>
  </div>
  <app-weather-info [geo]="geo"></app-weather-info>
</div>
